# Haskell compiled files
*.hi
*.o

# Lab Executables
Lab1/Exercise1/Exercise1
Lab1/Exercise2/Exercise2
Lab1/Exercise3/Exercise3
Lab1/Exercise4/Exercise4
Lab1/Exercise5/Exercise5
Lab1/Exercise6/Exercise6
Lab1/Exercise7/Exercise7
Lab1/Exercise8/Exercise8
Lab1/Exercise9/Exercise9
Lab1/Euler9/Euler9
Lab1/Euler10/Euler10
Lab1/Euler49/Euler49